<mat-nav-list>
  <h3 matSubheader>Program</h3>
  <mat-list-item >
    <mat-icon matListIcon svgIcon="projects"></mat-icon>
    <span matLine>Program</span>
    <span matLine matSubheader> ViewAll </span>
  </mat-list-item>
  <mat-divider></mat-divider>
  <h3 matSubheader>Calendar</h3>
  <mat-list-item >
    <mat-icon matListIcon></mat-icon>
    <span matLine>By Month</span>
    <span matLine matSubheader> View Calendar By Month </span>
  </mat-list-item>
  <mat-list-item >
    <mat-icon matListIcon></mat-icon>
    <span matLine>By Week</span>
    <span matLine matSubheader> View Calendar By Week </span>
  </mat-list-item>
  <mat-list-item >
    <mat-icon matListIcon></mat-icon>
    <span matLine>By Day</span>
    <span matLine matSubheader> View Calendar By Day </span>
  </mat-list-item>
</mat-nav-list>
